@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Show hamburger menu on mobile (already part of global.css) */
@media (max-width: 800px) {
  .desktop-menu {
    display: none; /* Hide desktop menu */
  }
  .mobile-menu-toggle {
    display: block; /* Show the hamburger icon */
    font-size: 2rem;
    cursor: pointer;
  }
  .mobile-menu {
    display: none; /* Initially hidden */
    background-color: #333;
    position: absolute;
    width: 100%;
    top: 50px;
  }
  .mobile-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
}

/* Default settings for non-mobile view */
.mobile-menu-toggle {
  display: none;
}

.mobile-menu a {
  display: none;
}


body {
  line-height: normal; /* Correct syntax */
  margin: 0;
}

*,
::before,
::after {
  border-width: 0;
}
